### Numpy
- 데이터는 행열로 표현
- 행열 데이터 빠르게 계산을 해야 합니다.
- 행열 데이터 생성, 수정, 계산등을 빠르게 처리해주는 패키지
- 특징
    - C, C++, 포트란로 작성
    - 선형대수학을 빠르게 연산
        - 스칼라, 벡터, 매트릭스

In [2]:
import numpy as np

In [2]:
# 행렬 데이터 생성
# ndarray : 한가지 데이터 타입만 값으로 사용이 가능

In [3]:
arrary = np.array([1, 2, 3])
type(arrary), arrary

(numpy.ndarray, array([1, 2, 3]))

In [4]:
arrary2 = np.array(
    [[1, 2, 3],
    [4, 5, 6]],
)
arrary2, arrary2.ndim, arrary2.shape

(array([[1, 2, 3],
        [4, 5, 6]]), 2, (2, 3))

In [5]:
# 행렬의 모양(shape) 변경하기
arrary2.reshape(3, 2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [6]:
# 행렬 데이터의 선택 : offset index : masking

In [7]:
arrary2[1][::-1]

array([6, 5, 4])

In [8]:
arrary2[1, 2] # arrary2[1][2]

6

In [9]:
# 데이터 수정

In [10]:
ls = [1,2,3]
ls[1] = 5
ls

[1, 5, 3]

In [11]:
arrary2[1][2] = 10
arrary2

array([[ 1,  2,  3],
       [ 4,  5, 10]])

In [12]:
# 브로드 캐스팅
arrary2[0] = 0
arrary2

array([[ 0,  0,  0],
       [ 4,  5, 10]])

In [13]:
arrary2[0] = [7, 8, 9]
arrary2

array([[ 7,  8,  9],
       [ 4,  5, 10]])

In [14]:
# 조건으로 선택
idx = arrary2 > 7
idx

array([[False,  True,  True],
       [False, False,  True]])

In [15]:
arrary2[idx]

array([ 8,  9, 10])

In [16]:
arrary2[idx] = 100
arrary2

array([[  7, 100, 100],
       [  4,   5, 100]])

In [17]:
# 행렬 데이터의 생성 2

In [18]:
data = np.zeros((2, 3))
data

array([[0., 0., 0.],
       [0., 0., 0.]])

In [19]:
data.dtype

dtype('float64')

In [21]:
data2 = data.astype("int")
data2.dtype

dtype('int64')

In [24]:
data = np.ones((2, 3, 2))
data

array([[[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]]])

In [25]:
# arange
np.arange(5)

array([0, 1, 2, 3, 4])

In [26]:
np.arange(5, 10)

array([5, 6, 7, 8, 9])

In [27]:
np.arange(5, 10, 2)

array([5, 7, 9])

### summary
- numpy : 선형대수를 빠르게 연산해주는 패키지
- 행렬의 생성1 : ndarray, np.array(iterable)
- 행렬의 생성 2 : ones, zeros
- 행렬의 데이터 선택 : array[x,y,z]
- 행렬의 데이터 수정
    - 행렬 데이터를 선택
    - =, > (값(scala, vector, matrix))
    - 브로드 캐스팅 개념
- arange : list에서 사용하는 range : 결과가 ndarray

### quiz
- 100~130 까지 랜덤한 숫자를 가지는 8*8 행렬을 만들고,
- 3의 배수는 fiz,5 의 배수는 buz 5의 배수는 fdz 문자로 변환
- 랜덤한 행렬 데이터
```
datas = np.random.randint(100,130, size = (8,8))
```
- 데이터 타입이 정수 -> 문자열 : ndarray.astype()

In [4]:
datas = np.random.randint(100,130,size=(8,8))
datas

array([[107, 113, 123, 113, 113, 125, 107, 127],
       [126, 114, 104, 114, 104, 111, 104, 126],
       [124, 114, 119, 104, 123, 106, 107, 117],
       [127, 124, 124, 110, 111, 123, 119, 125],
       [119, 104, 126, 103, 116, 110, 100, 108],
       [111, 122, 129, 110, 124, 117, 118, 106],
       [101, 125, 102, 122, 115, 116, 118, 117],
       [129, 107, 104, 111, 122, 104, 103, 101]])

In [5]:
#3,5,15,의 배수 위치값에 대한 T,F matrix 생성
idx_3 = datas% 3 ==0
idx_5 = datas% 5 ==0
idx_15 = datas% 15 ==0

In [6]:
#데이터 타입 str변경
result = datas.astype("str")

In [9]:
result[idx_3] = "fiz"
result[idx_5] = "buz"
result[idx_15] = "fbz"

In [10]:
result

array([['107', '113', 'fiz', '113', '113', 'buz', '107', '127'],
       ['fiz', 'fiz', '104', 'fiz', '104', 'fiz', '104', 'fiz'],
       ['124', 'fiz', '119', '104', 'fiz', '106', '107', 'fiz'],
       ['127', '124', '124', 'buz', 'fiz', 'fiz', '119', 'buz'],
       ['119', '104', 'fiz', '103', '116', 'buz', 'buz', 'fiz'],
       ['fiz', '122', 'fiz', 'buz', '124', 'fiz', '118', '106'],
       ['101', 'buz', 'fiz', '122', 'buz', '116', '118', 'fiz'],
       ['fiz', '107', '104', 'fiz', '122', '104', '103', '101']],
      dtype='<U11')

###Quiz
- 1~20 까지 랜덤한 숫자를 가지는 5*5 행렬 생성
- 최대값에서는 max 최소값에는 min 문자열이 들어가도록 치환하는 코드
- 최대값과 최소값 함수
```
np.min(ndarray) ,mp.max(ndarray)
```

In [21]:
data = np.random.randint(1,20,size = (5,5))

In [22]:
data

array([[10, 18, 17,  6, 19],
       [16,  1, 15,  3,  1],
       [ 2, 19, 11,  8, 15],
       [ 6,  2, 12,  2, 12],
       [13,  7,  6,  3, 14]])

In [23]:
min_num,max_num = np.min(data),np.max(data)
result = data.astype("str")

In [24]:
idx_min = data == min_num
idx_max = data == max_num
result[idx_min] = "min"
result[idx_max] = "max"

In [25]:
result

array([['10', '18', '17', '6', 'max'],
       ['16', 'min', '15', '3', 'min'],
       ['2', 'max', '11', '8', '15'],
       ['6', '2', '12', '2', '12'],
       ['13', '7', '6', '3', '14']], dtype='<U11')

In [26]:
data

array([[10, 18, 17,  6, 19],
       [16,  1, 15,  3,  1],
       [ 2, 19, 11,  8, 15],
       [ 6,  2, 12,  2, 12],
       [13,  7,  6,  3, 14]])

### linspace, logspace 함수
- linspace : 설정한 범위에서 선형적으로 불할한 위치의 값을 출력
- logspace : 설정한 범위에서 로그로 분할한 위치의 값을 출력

In [27]:
#linspace
np.linspace(0,100,5)

array([  0.,  25.,  50.,  75., 100.])

In [28]:
#logspace
#log10(x1)=2,log10(x2)=3,log10(x3)=4
np.logspace(2,4,3)

array([  100.,  1000., 10000.])

In [29]:
##ㄹ 30세에 연봉이 $100000 이고 60세의 연봉이 &10000000 일때
# 연봉이 선형으로증가, 지수함수로 증가하는 두경우에서의 40세 50세 연봉을 출력

In [30]:
age_30 = 100000
age_60 = 1000000

In [32]:
np.linspace(age_30,age_60,4)

array([ 100000.,  400000.,  700000., 1000000.])

In [33]:
np.logspace(np.log10(age_30),np.log10(age_60),4)

array([ 100000.        ,  215443.46900319,  464158.88336128,
       1000000.        ])

### 2.numpy random
- seed : 랜덤값을 설정값
- rand : 균등분포로 랜덤한 값 생성
- randn : 정규분포로 난수를 발생
- randint : 균등분포로 정수값을 발생
- suffle : 행렬 데이터를 섞어 줌
- choice : 특정 확률로 데이터를 선택

In [34]:
#seed
np.random.seed(1)
result1 =np.random.randint(10,100,10) 
np.random.seed(1)
result2 =np.random.randint(10,100,10) 
np.random.seed(2)
result3 =np.random.randint(10,100,10) 
result1,result2,result3

(array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([50, 25, 82, 32, 53, 92, 85, 17, 44, 59]))

In [35]:
np.random.rand(10)

array([0.20464863, 0.61927097, 0.29965467, 0.26682728, 0.62113383,
       0.52914209, 0.13457995, 0.51357812, 0.18443987, 0.78533515])

In [37]:
np.random.randn(10)

array([-0.33882197, -0.23618403, -0.63765501, -1.18761229, -1.42121723,
       -0.1534952 , -0.26905696,  2.23136679, -2.43476758,  0.1127265 ])

In [38]:
#shuffle
r= np.random.randint(1,10,(3,4))
r

array([[9, 6, 4, 1],
       [1, 3, 9, 9],
       [3, 7, 6, 7]])

In [39]:
np.random.shuffle(r)

In [40]:
r

array([[1, 3, 9, 9],
       [9, 6, 4, 1],
       [3, 7, 6, 7]])

In [42]:
#choice
np.random.choice(5,10,p=[0.1,0,0.4,0.2,0.3]) #(범위,갯수,)

array([4, 4, 3, 4, 4, 2, 4, 2, 2, 4], dtype=int64)

In [45]:
#unique
numbers,counts= np.unique(r,return_counts=True)
print(numbers)
print(counts)

[1 3 4 6 7 9]
[2 2 1 2 2 3]

### 3. 행렬 데이터의 결합
- concatenate

In [46]:
na1 = np.random.randint(10,size=(2,3))
na2 = np.random.randint(10,size=(3,2))
na3 = np.random.randint(10,size=(3,3))

In [47]:
na1

array([[0, 8, 6],
       [5, 1, 7]])

In [48]:
na2

array([[4, 3],
       [6, 1],
       [4, 0]])

In [49]:
na3

array([[8, 5, 4],
       [2, 9, 7],
       [1, 9, 2]])

In [50]:
np.concatenate((na1,na3))

array([[0, 8, 6],
       [5, 1, 7],
       [8, 5, 4],
       [2, 9, 7],
       [1, 9, 2]])

In [52]:
#가로 결합
np.concatenate((na2,na3),axis=1)

array([[4, 3, 8, 5, 4],
       [6, 1, 2, 9, 7],
       [4, 0, 1, 9, 2]])

In [53]:
# c_,r_
np.c_[np.array([1,2,3]),np.array([4,5,6])]

array([[1, 4],
       [2, 5],
       [3, 6]])

In [54]:
np.r_[np.array([1,2,3]),np.array([4,5,6])]

array([1, 2, 3, 4, 5, 6])