In [97]:
NAME = "JEROEN"
#NAME = "JAN"
# 9,0,13
answer = 0
name=list()

In [86]:
a= ord('Z')-ord('A')

In [87]:
ord(NAME[i])

IndexError: string index out of range

In [88]:


if 'A'<'N':
    print(1)
else:
    print(0)

1

In [89]:
13- (ord('Z') - ord('N'))

1

In [98]:
for i in range(len(NAME)):
    if NAME[i] <'N':
        name.append(ord(NAME[i])-ord('A'))
    else:
        name.append(13-(ord(NAME[i])-ord('N')))

In [100]:
sum(name)

51

In [62]:
answer

'-1 -4'

In [ ]:
ABCDEFGHIJKLM
NOPQRSTUVWXYZ