In [1]:
'dave'

'dave'

In [2]:
"dave"

'dave'

In [3]:
type('dave')

str

In [4]:
type("dave")

str

TypeError: ord() expected a character, but string of length 4 found

## 1. 완주하지 못한 선수

In [9]:
def solution(participant, completion):
    answer = ''
    return answer

In [48]:
test1 = ["leo", "kiki", "eden"]
test2 = ["marina", "josipa", "nikola", "vinko", "filipa"]
test3 = ["mislav", "stanko", "mislav", "ana"]

c1 =["eden", "kiki"]
c3= ["stanko", "ana", "mislav"]

In [19]:
test1[-1]

'eden'

In [49]:
def solution(participant, completion):
    answer = ''
    sort_participant = sort(participant)
    sort_completion = sort(completion)
    
    answer = sort_participant[-1]
    
    for i in range(len(sort_completion)):
        if sort_participant[i] != sort_completion[i] :
            answer = sort_participant[i]
            
                
    return answer

def sort(data):
    if len(data) <=1:
        return data
    
    left,right =list(),list()
    pivot = data[0]
    
    for i in range(1,len(data)):
        if data[i] < pivot:
            left.append(data[i])
        else:
            right.append(data[i])
            
    return sort(left) + [pivot] + sort(right)

In [50]:
solution(test3,c3)

'mislav'

In [32]:
e1=sort(test1)

In [33]:
sort(c1)

['eden', 'kiki']

In [44]:
test1

['leo', 'kiki', 'eden']

In [35]:
sort(test1)

['eden', 'kiki', 'leo']

In [43]:
if "eden" != "eden":
    print("a")

In [52]:
len(test1)//2

1

In [53]:
sorted(test1)

['eden', 'kiki', 'leo']