### SQLAlchemy
- python 에서 사용하는 ORM
- ORM : Object Relational Mapping
    - 데이터 베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD 할수 있다.
    - 쿼리 대신 함수 형태로 CRUD를 할수 있습니다.
    - 사용하는 데이터 베이스를 변경하는 경우 엔진만 바꿔주면 됩니다.
- 설치 : `pip install sqlalchemy`

In [1]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [9]:
# 데이터 베이스 연결
engine = create_engine("mysql://root:dss@13.125.153.195/test")

In [10]:
engine

Engine(mysql://root:***@13.125.153.195/test)

In [11]:
# 테이블 객체 생성을 위한 클래스 작성
Base = declarative_base()

class User(Base):
    
    __tablename__ = "user1" # 테이블 이름
    
    # 컬럼 데이터 작성
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # 생성자 함수
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    # repr 함수
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(
            self.name, self.email, self.age, self.rdate)

In [12]:
# engine에 연결된 데이터 베이스(test)에 테이블 생성
Base.metadata.create_all(engine)

In [13]:
# 데이터 베이스에 session 연결
Session = sessionmaker(engine)
session = Session()
session

#### 1. insert

In [25]:
user = User("jin", "jin@gmail.com", 27, "2016-03-21")
user

In [26]:
user.__tablename__

'user'

In [27]:
session.add(user)

In [28]:
# run transaction
session.commit()

In [22]:
# many insert
users = [
    User("alice", "alice@gmail.com", 25, "2018-02-21"),
    User("andy", "andy@daum.net", 33, "2015-10-21"),
]

In [23]:
session.add_all(users)

In [21]:
session.commit()

In [24]:
# rollback : session에 있는 객체를 초기화
session.rollback()

#### 2. Select

In [29]:
# all
results = session.query(User).all()
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>]

In [30]:
# filter : ==, !=, >, <, <=, >=, like, in_
results = session.query(User).filter(User.name == "jin")
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>]

In [31]:
# filter : like
results = session.query(User).filter(User.email.like("%gmail%"))
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-02-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>]

In [32]:
# filter : in_
results = session.query(User).filter(User.name.in_(["alice", "andy"]))
list(results)

[<User alice, alice@gmail.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>]

In [33]:
# filter : or_
results = session.query(User).filter(
    or_(User.name == "jin", User.age == 33)
)
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-10-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>]

In [36]:
# order by
results = session.query(User).order_by(User.age.desc())
list(results)

[<User andy, andy@daum.net, 33, 2015-10-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-02-21 00:00:00>]

In [37]:
# count
session.query(User).count()

4

#### 3. Update

In [44]:
data = session.query(User).filter(User.name == "jin")
data[0]

In [46]:
data = session.query(User).filter(User.name == "andy").one()
data

In [47]:
data.age = 30

In [48]:
session.add(data)

In [49]:
session.commit()

#### 4. Delete

In [51]:
# delete row
session.query(User).filter(User.name == "jin").delete()

2

In [52]:
session.commit()

In [53]:
# delete table

In [54]:
User.__table__.drop(engine)

#### 5. With Pandas

In [55]:
import seaborn as sns

In [56]:
import pandas as pd

- 데이터 저장하기

In [57]:
iris_df = sns.load_dataset("iris")
iris_df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [58]:
engine

Engine(mysql://root:***@13.125.153.195/test)

In [59]:
iris_df.to_sql(name="iris", con=engine, if_exists="replace")

- 데이터 가져오기

In [60]:
engine = create_engine("mysql://root:dss@13.125.153.195/world")

In [61]:
QUERY = """
    SELECT *
    FROM city
"""
city_df = pd.read_sql(QUERY, engine)
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020