### pymongo
- python 에서 MongoDB 작업을 위한 도구
- pip install pymongo==2.8.1
- pip install requests

In [12]:
import pymongo
import pandas as pd

In [4]:
import zigbang as zb

In [6]:
# 데이터 베이스 서버 연결
client = pymongo.MongoClient("mongodb://13.125.153.195:27017/")
client

MongoClient('13.125.153.195', 27017)

In [7]:
# 데이터 베이스와 컬렉션 생성
zigbang = client.crawling.zigbang
zigbang

Collection(Database(MongoClient('13.125.153.195', 27017), 'crawling'), 'zigbang')

In [8]:
items = zb.main("성수동")
len(items)

91

In [10]:
ids = zigbang.insert(items)
len(ids)

91

- 데이터 프레임 저장

In [13]:
sungsoo_df = pd.DataFrame(items)
columns = ["_floor", "address1", "rent", "size", "deposit", "options"]
sungsoo_df = sungsoo_df[columns]
sungsoo_df.tail(2)

   _floor       address1  rent  size  deposit options
89     2층  서울시 성동구 성수동2가     0  16.0    23000       -
90     3층  서울시 성동구 성수동1가    60  15.0     3000       -

In [14]:
zigbang2 = client.crawling.zigbang2

In [15]:
items = sungsoo_df.to_dict("records")

In [16]:
items[0]

{'_floor': '4층',
 'address1': '서울시 성동구 성수동1가',
 'rent': 50,
 'size': 8.0,
 'deposit': 1000,
 'options': '에어컨,냉장고,세탁기,인덕션,옷장,신발장,싱크대'}

In [17]:
ids = zigbang2.insert(items)

- 데이터 find()

In [20]:
results = zigbang2.find()

In [22]:
QUERY = {"rent": {"$lte": 50}}
results = zigbang2.find(QUERY)
pd.DataFrame(results).tail()

,_floor,_id,address1,deposit,options,rent,size
61,5층,5dbbdfeaa547631b003bbd04,서울시 성동구 성수동2가,26000,-,0,12.0
62,3층,5dbbdfeaa547631b003bbd05,서울시 성동구 성수동1가,35000,-,0,22.0
63,2층,5dbbdfeaa547631b003bbd08,서울시 성동구 성수동1가,18000,-,0,12.0
64,옥탑방,5dbbdfeaa547631b003bbd0a,서울시 성동구 성수동1가,1000,-,50,10.0
65,2층,5dbbdfeaa547631b003bbd0b,서울시 성동구 성수동2가,23000,-,0,16.0

In [23]:
# 컬렉션 삭제
client.crawling.drop_collection("zigbang")

In [24]:
# 데이터 베이스 삭제

In [25]:
client.drop_database("crawling")