In [1]:
import zigbang as zb

In [2]:
items_df = zb.crawling_apt("망원동")
items_df.tail(2)

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
662,19417164,14,고층,37.552854,126.875106,63000,세안고 내부깨끗함 염창역도보10분 88도로접근용이,102,30
663,19417415,13,저층,37.552854,126.875106,59000,"세안고 올수리 탑층 염동초,염창중학군우수 염창역도보10분",101,30

#### 구글 스프레드 시트에 저장
- oauth 개념
- oauth 인증 파일 생성
    - https://console.developers.google.com
    - 프로젝트생성
    - 라이브러리 탭 선택 : Google Drive API, Google Sheets API 사용설정
    - Oauth 동의화면
        - 어플리케이션 이름 설정
        - google api 범위 추가 체크 : `../auth/drive`, `../auth/spreadsheets`
        - 저장
    - 사용자 인증정보
        - OAuth 클라이언트 ID 선택
    - pygsheets 설치
        - conda install -c marta-sd pygsheets
        - pip install pygsheets
- 스프레드 시트에 크롤링한 데이터 저장 및 로드

In [3]:
import pygsheets

In [4]:
# access token 얻기
gc = pygsheets.authorize(client_secret="client_secret.json", no_cache=True)

Please go to this URL and finish the authentication flow: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=218685011613-d5l4m2gfqutlb0t3092oirtdsdl4orff.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&state=HDgQA96ntd3CCF9GjdUKCnuFpN0rAj&prompt=consent&access_type=offline
Enter the authorization code: 4/vgEz_p6vUrehMYKEHF2t4sjjW6cdxl5_TUiL0iA0eID7bbtUaEq8vmM

In [5]:
gc

In [6]:
# 스프레드 시트 파일 열기
s_file = gc.open("zigbang")

In [8]:
# 붓꽃 데이터 로드
import seaborn as sns
iris_df = sns.load_dataset("iris")
iris_df.tail(1)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica

In [12]:
# iris 시트 만들기
iris_sheet = s_file.add_worksheet("iris")

HttpError: <HttpError 400 when requesting https://sheets.googleapis.com/v4/spreadsheets/1N4dOfJbgGt24bf5E1nP69Yj06wF6Q-yFuzZaMR7gBR4:batchUpdate?fields=replies%2FaddSheet&alt=json returned "Invalid requests[0].addSheet: 이름이 ‘iris’인 시트가 이미 있습니다. 다른 이름을 입력해 주세요.">

In [ ]:
# iris 시트 데이터 프레임 저장
iris_sheet.set_dataframe(iris_df, "A1")

In [13]:
# 시트 삭제
s_file.del_worksheet(s_file[0])

In [13]:
# 직방 데이터를 크롤링 해서 저장

In [14]:
addrs = ["연남동", "망원동", "합정동", "성수동", "개포동"]
for addr in addrs:
    print(addr)
    df = zb.crawling_apt(addr)
    sheet = s_file.add_worksheet(addr)
    sheet.set_dataframe(df, 'A1')

연남동
망원동
합정동
성수동
개포동

In [16]:
# 데이터 가져오기

In [15]:
sheet = s_file.worksheet_by_title("개포동")
load_df = sheet.get_as_df()
load_df.tail(2)

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
97,19565578,5,저층,37.480562,127.059072,260000,"38배정, 추분 5,820만원",56,16
98,19505295,20,고층,37.481287,127.063979,190000,"25, 세안고 매매",80,24

In [16]:
df = zb.crawling_apt("개포동")
len(df)

442

In [17]:
df.tail()

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
437,18739555,28,중층,37.484165,127.067322,230000,이전고시후 잔금,103,31
438,19355619,15,고층,37.483973,127.056013,230000,통합재건축 대지지분크고 초중고인접,110,33
439,19355650,13,고층,37.482669,127.054424,200000,입주가능 통합재건축 초중고인접,102,30
440,19449724,12,중층,37.484514,127.054172,210000,대지지분크고 양재천인접 개일초 구룡중,107,32
441,19482010,None,None,37.451727,127.057638,145000,"안정적인 중층, 숲과 하천이 있는 녹지신축아파트",111,33

In [18]:
sheet = s_file.worksheet_by_title("개포동")
load_df = sheet.get_as_df()
load_df

,itemId,buildingFloor,groupedItemFloor,lat,lng,sales,itemTitle,m2,p
0,18749864,35,고층,37.481287,127.063979,245000,"34풀에어컨,보증금조정가능,커뮤니시설근접동",113,34
1,18753960,29,고층,37.481287,127.063979,248000,34 입주가능 방4개 로얄동 탁트인대모산전망 개일초배정,115,34
2,18754013,35,고층,37.481287,127.063979,320000,"43 융자무,귀한전세,커뮤니시설근접동,공원전망뷰",152,45
3,18754031,23,고층,37.481287,127.063979,248000,"34 ,강추 개일초 급매!전세안고 투자",113,34
4,18810386,29,중층,37.481287,127.063979,242000,"블레스티지 34평세끼고,급매,인기좋은동,조식서비스",113,34
...,...,...,...,...,...,...,...,...,...
94,19788763,17,중층,37.451064,127.064464,150000,세입자/협의/남향/,135,40
95,19882672,7,저층,37.481287,127.063979,175000,20p 입주가능매매 강남8학군 최고급커뮤니티 신혼부부추천,67,20
96,19882705,35,고층,37.481287,127.063979,350000,45p 실매물 전세안고매매 투자가치좋은집 최고급커뮤니티,151,45
97,19565578,5,저층,37.480562,127.059072,260000,"38배정, 추분 5,820만원",56,16
98,19505295,20,고층,37.481287,127.063979,190000,"25, 세안고 매매",80,24