### summary
    -jupyter notebook
    
        -mode : 명령모드, 편집모드
        -style : markdown, code
        -단축기
            -실행 :shift + enter
            -자동완성 : tab
            -docstring 보기 : shift + tab
            - 주석 설정 : cmd(ctrl) + /
            -셀 생성 : a(위), b(아래)
            
    -python 기본 문법
    
        -변수 선언 : RAM 저장공간에 값을 할당하는 행위
        
        -식별자 규칙
            -대문자, 소문자, 숫자, _
            -가장 앞글자 숫자사용 불가
            -예약어 사용이 불가 :def,class, try ...
            -snake_case(변수, 함수), CamelCase(클래스)
            -pep8 문서
            
        -데이터 타입
            -동적 타이핑 : 자동으로 저장공간의 데이터 타입이 설정
            -기본 데이터 타입 : int, float, bool, str
            - 컬렉션 데이터 타입 :list(iterable), tuple(iterable:순서 ㅇ), dict
            -offset index : 특정 위치의 데이터를 출력할때 사용
                -[] : mask, masking
                -[idx] : idx 위치 데이터를 출력
                -[start : end] : start에서 end까지 출력(end 미포함)
                -[start:end:stride] : stride만큼씩 점프하여 출력
            -각 데이터 타입별로 함수가 있습니다.
            
        -형 변환
            -이미 변수에 설정된 데이터 타입을 변경하는 행위
            -zip
                -여러개의 리스트를 같은 인덱스끼리 묶어주는함숨
                -두개의 리스트를 묶어서 dict 형변환
        -연산자
            -산술 : +, -, *, ** ,/ ,//, % 
            -할당 : A (산술) = (data)
            -비교 : <, >, ==, <=, >=, !=
            -논리 : and, or, not
            -멤버 :in, not in

### 1. 조건문
    -특정 조건에 따라서 코드를 실행하고자 할때 사용
    -if, else, elif

In [2]:
#조건부분에 : bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환 되어 판단

if False:
    print("python")
    
print("done")

done

In [3]:
#int : 0을 제외한 나머지 값은 true
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [4]:
num=0
if num:
    print("python_1")
    
num=1
if num:
    print("python_2")

python_2

In [6]:
number = 6

if number % 2:
    print("홀수")
else  :
    print("짝수")

짝수

In [ ]:
# float :0.0을 제외한 나머지는 True
# str: ""를 제외한 나머지 문자열은 True
# list, tuple, dict :[],(),{}를 제외한 나머지는 True

In [ ]:
#지갑에 돈이 10000원 이상 있으면 택시를 타고 그렇지 않으면 집에 걸어 갑니다.

In [7]:
money= 12000

if money >= 10000:
    print("택시를 타고 집에 갑니다")
    
if money < 10000:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다

In [9]:
money= 4000

if money >= 10000:
    print("택시를 타고 집에 갑니다")
elif money >= 5000:
    print("광역 버스를 타고 집에 갑니다.")    
elif money >= 2000:
    print("일반 버스를 타고 집에 갑니다.")
else:
    print("걸어서 집에 갑니다")

일반 버스를 타고 집에 갑니다.

In [ ]:
#계좌에 10000이 들어 있습니다.
#인출 금액을 입력 받습니다.
#인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능 합니다". 출력
#인출 금액이 계죄에 있는 금액보다 작으면 "인출 되었습니다". 출력
#마지막에 현재 계좌의 잔액을 출력

In [10]:
data = int(input("draw money : ")) # input 은 str으로 받아서  int()로 형변환
type(data), data

draw money : 5000

(int, 5000)

In [ ]:
account= 10000

In [18]:

draw_money = int(input("insert draw money :"))

if account >= draw_money:
    account -= draw_money
    print(str(draw_money) + "원이 인출 되었습니다.")
else:
    print("인출이 불가능합니다." + str(draw_money- account) + "원의 잔액이 부족합니다.")
    
print("현재 잔액은" + str(account)+" 원 입니다.")

insert draw money :2000
2000원이 인출 되었습니다.
현재 잔액은0 원 입니다.

In [14]:
#string 데이터 타입의 format 함수
print("현재 잔액은 " +str(account)+"원 입니다")
print("현재 잔액은  {}원 입니다,인출 금액은 {}입니다,".format(draw_money,account))
print("현재 잔액은  {data1}원 입니다,인출 금액은 {data2}입니다,".format(data2=draw_money,data1=account))

현재 잔액은 5000원 입니다
현재 잔액은  5000원 입니다,인출 금액은 5000입니다,
현재 잔액은  5000원 입니다,인출 금액은 5000입니다,

###  삼항 연산자
- 간단한 if,else 구문을 한줄의 코드로 표현할 수 있는 방법
- (True) if(condition) else(False)

In [22]:
#data 변수에 0 이면 "zero" 출력,아니면"not zero" 출력

data =1

if data:
    print("not zero")
else:
    print("zero")
    
result="not zero"if data else "zero"
result

not zero

'not zero'

### 2. 반복문
- 반복되는 코드를 실행할때 사용
- while, for, break, continue
- list comprechention

In [23]:
#while

data= 3

while data: # 조건이 False 가 될때까지 구문의 코드를 실행
    #반복되는 코드
    print(data)
    data -= 1

3
2
1

In [30]:
#학생이 국어-80, 영어-90, 수학-100 while문을 이용해서 총점과 평균을 출력
#학생의 점수는 list,dict 표현
#len(),dict.values(),list.pop()

subjects_ls=["korean","english","math"]
points_ls= [80,90,100]
points_dict={"korean":80,"english":90,"math":100}

(270, 90.0)

In [31]:
i=3
total= 0
avg= 0.0

while i:
    i-=1
    total += points_ls[i]

avg= total/3

total,avg

(270, 90.0)

In [33]:
datas = points_ls.copy() #깊은복사 : 원본데이터를 보존
total,avg = 0,0

In [34]:
while datas:
    total += datas.pop()

avg = total/ len(points_ls)
total, avg

(270, 90.0)

In [36]:
#무한 루프
#break : 반복문을 중단시킬때 사용되는 예약어
result =1
while result:
    
    if result >=10:
        break
        
    result +=1

print(result)

10

### for
- iterable 한 값을 하나씩 꺼내서 variable 을 대입시킨 후 코드를 interable 변수의 값 갯수 만큼 실행
    
    for <variable.> in <iterables.> :
        <code>

In [37]:
#for:continue:

ls=[0,1,2,3,4]
for data in ls:
    if data % 2:
        continue
    print(data,end=" ")

0 2 4

In [42]:
#for를 이용해서 100번 실행
#range 함수
list(range(100))
result=0
for data in range(100):
    result += data
result

4950

In [46]:
#offset index 개념과 비슷하게 사용
list(range(5)),list(range(5,10)),list(range(10,0,-2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 8, 6, 4, 2])

In [47]:
# 0~10 까지 짝수를 더한 총합
result =0
for number in range(0,11,2):
    result += number
    
result

30

In [56]:
points_dict={"korean":80,"english":90,"math":100}

In [50]:
list(point_dict.keys())

['korean', 'english', 'math']

In [52]:
list(point_dict.items())

[('korean', 80), ('english', 90), ('math', 100)]

In [57]:
for subject,point in points_dict.items():
    print(subject,point)

korean 80
english 90
math 100

In [ ]:
# 구구단 출력

In [71]:
for number_1 in range(2,10):
    for number_2 in range(1,10):
        print("{}*{}={}".format(number_1,number_2,number_1*number_2),end="\t")
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

### 3. List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문 보다 빠르게 동작

In [72]:
#각각 값에 제곱한 결과 출력
ls=[0,1,2,3]
result=[]

for data in ls:
    result.append(data**2)
    
result

[0, 1, 4, 9]

In [73]:
result = [data**2 for data in ls]
result

[0, 1, 4, 9]

In [74]:
#리스트 컴프리헨션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
#삼항연산 사용
ls=[0,1,2,3]
#result=["짝수","홀수","짝수","홀수"]

result=[
    "홀수" if data%2 else "짝수"
    for data in ls
]
result

['짝수', '홀수', '짝수', '홀수']

In [75]:
#리스트 컴프리핸션 조건문
ls = range(10)
[data for data in ls if data%2]

[1, 3, 5, 7, 9]

In [78]:
ls=[1,2,3]
[func for func in dir(ls) if func[:2] !="__" and func[0] == "c"]

['clear', 'copy', 'count']

In [ ]:
#for문과 list comprehention 성능 비교

In [85]:
%%timeit #시간체크
ls=[]
for num in range(1,10001):
    ls.append(num)
len(ls)

690 µs ± 5.94 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [86]:
%%timeit #시간체크
ls=[num for num in range(1,10001) if num%3 == 0]
len(ls)

663 µs ± 9.64 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)